<footer class="blog__footer text-center m-3">
    <p>
        <a href="https://github.com/Lidemy/mentor-program-2nd" target="blank">Mentor Program 2nd</a>, created by <a href="https://github.com/enter3017sky?tab=repositories" target="blank">enter3017sky</a>
    </p>
</footer>


<script src="/prism.js"></script>
